body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h2 {
  font-size: 36px;
  color: $quote-color;
  margin: 0;
}
p {
  font-weight: 400;
  font-size: 14px;
  color: $text-color;
}
a {
  font-size: 16px;
  color: $link-color;
}
.link {
  padding-top: 45px;
}
.fs-16 {
  font-size: 16px;
}
.d-flex {
  display: flex;
}
main {
  background-color: $bg-color;
  width: 1441px;
  margin: 0 auto;
}
.clients {
  display: inline-flex;
  background: $bg-color;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  padding: 60px 166px 54px 65px;
  margin-left: 165px;
  margin-top: -103px;
  width: 1045px;
  height: 113px;
  & img {
    width: 156px;
    height: 113px;
    padding-right: 72px;
  }
}
.section-services .border-bottom {
  height: 668px;
}
.border-bottom {
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}
.main-offer {
  width: 475px;
  height: 366px;
  padding-top: 120px;
  padding-right: 160px;
  float: left;
  & p {
    color: $p-color;
    margin: 0;
    &.fs-16 {
      padding-bottom: 45px;
    }
  }
  & h2 {
    padding-top: 29px;
    padding-bottom: 35px;
  }
  & span {
    background: rgba(255, 215, 35, 0.1);
  }
  & .link {
    padding-top: 0;
  }
}
.employee {
  width: 426px;
  height: 340px;
  padding: 120px 8px 60px 40px;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  background-color: $bg-color;
  float: right;
  & p {
    font-style: italic;
    font-size: 24px;
    line-height: 40px;
    color: $quote-color;
    margin: 0;
    padding-bottom: 50px;
  }
  & .avatar img {
    width: 90px;
    height: 90px;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
  }
  & .description {
    padding-left: 30px;
    & h3 {
      font-size: 22px;
      color: $quote-color;
      margin: 0;
      padding-top: 16px;
    }
    & p {
      font-style: normal;
      font-size: 16px;
    }
  }
}
.intro {
  padding-top: 150px;
  padding-bottom: 104px;
  & h2 {
    padding-right: 133px;
    width: 332px;
  }
  & p {
    width: 463px;
    color: $p-color;
  }
}
.project {
  flex-wrap: wrap;
  & .project-img {
    width: 735px;
    height: 550px;
    margin-left: -165px;
    padding-right: 96px;
  }
}
.project-1 {
  width: 445px;
  padding-top: 90px;
  & p {
    margin: 0;
    padding-top: 24px;
    color: $p-color;
  }
  & .link {
    padding-top: 90px;
  }
}
.project-employee {
  position: sticky;
  top: 50px;
}
