// colors
$bg-color: #ffffff;
$p-color: rgba(77, 83, 60, 0.9);
$quote-color: #4D533C;
$text-color: #213842;
$link-color: #D4D6D4;
$hover-color: #FFD723;
$description-color: #152934;
$footer-text-color: #B6C197;


