.header {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 811px;
}

.header__nav {
  width: 1111px;
  height: 43px;
  padding-top: 24px;
  padding-bottom: 121px;
}

.header__nav .logo {
  float: left;
  width: 258px;
  height: 40px;
}

.header__nav .menu {
  float: right;
  width: 40px;
  height: 40px;
}

.header__offer {
  width: 581px;
}

.header__offer p,
.header__offer h1 {
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
}

.header__offer h1 {
  font-size: 60px;
  line-height: 74px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h2 {
  font-size: 36px;
  color: #4D533C;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #213842;
}

a {
  font-size: 16px;
  color: #D4D6D4;
}

.container {
  width: 1111px;
  padding: 0;
  margin: 0 auto;
}

.link {
  padding-top: 45px;
}

.link a::before {
  display: inline-block;
  content: " ";
  height: 12px;
  width: 8px;
  -webkit-mask: url("../images/triangle-icon.svg") no-repeat 50% 50%;
          mask: url("../images/triangle-icon.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: #D4D6D4;
}

.link a:hover::before {
  background-color: #FFD723;
}

.link a:hover {
  color: #FFD723;
}

.fs-16 {
  font-size: 16px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fd-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fw-bold {
  font-weight: 700;
}

main {
  background-color: #ffffff;
  width: 100%;
}

.clients {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #ffffff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  padding: 60px 166px 54px 65px;
  margin-left: 165px;
  margin-top: -103px;
  width: 1045px;
  height: 113px;
}

.clients img {
  width: 156px;
  height: 113px;
  padding-right: 72px;
}

.section__services .services {
  height: 668px;
}

.border-bottom {
  width: 1111px;
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}

.services__main-offer {
  width: 40%;
  padding-top: 120px;
  padding-right: 174px;
  float: left;
}

.services__main-offer p {
  color: rgba(77, 83, 60, 0.9);
  margin: 0;
}

.services__main-offer p.fs-16 {
  padding-bottom: 45px;
}

.services__main-offer h2 {
  padding-top: 29px;
  padding-bottom: 35px;
}

.services__main-offer span {
  background: rgba(255, 215, 35, 0.1);
}

.services__main-offer .link {
  padding-top: 0;
}

.services__employee {
  width: 40%;
  padding: 120px 8px 60px 40px;
  -webkit-box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  background-color: #ffffff;
  float: right;
}

.services__employee .employee__text {
  font-style: italic;
  font-size: 24px;
  line-height: 40px;
  color: #4D533C;
  margin: 0;
  padding-bottom: 50px;
}

.employee__about .about__img {
  width: 90px;
  height: 90px;
  -webkit-box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
          box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
  border-radius: 50%;
}

.employee__about .about__description {
  padding-left: 30px;
}

.employee__about .about__description h3 {
  font-size: 22px;
  color: #4D533C;
  margin: 0;
  padding-top: 16px;
}

.employee__about .about__description p {
  font-style: normal;
  font-size: 16px;
}

.intro {
  padding-top: 150px;
  padding-bottom: 104px;
}

.intro h2 {
  padding-right: 133px;
  width: 332px;
}

.intro p {
  width: 463px;
  color: rgba(77, 83, 60, 0.9);
}

.project {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 165px;
}

.project .project__img {
  width: 735px;
  height: 550px;
  position: relative;
}

.project .project__img.project__img-left {
  padding-right: 96px;
}

.project .project__img.project__img-right {
  padding-left: 96px;
}

.project__desc {
  width: 445px;
  padding-top: 90px;
}

.project__desc p {
  margin: 0;
  padding-top: 24px;
  color: rgba(77, 83, 60, 0.9);
}

.project__desc .link {
  padding-top: 90px;
}

.project-review {
  position: absolute;
  right: 60px;
  bottom: -60px;
  background: #ffffff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
  padding: 30px;
}

.project-review.left {
  right: unset;
  left: 60px;
}

.project-review .project-review__text {
  width: 390px;
  margin: 0;
  font-style: italic;
  font-size: 16px;
  color: #4D533C;
  padding-bottom: 24px;
}

.project-review .project-review__author {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.project-review .author__img img {
  width: 46px;
  height: 46px;
  padding-right: 14px;
}

.project-review .author__name h3 {
  color: #4D533C;
  margin: 0;
  padding-bottom: 4px;
}

.project-review .author__name p {
  margin: 0;
}

.deation-evaluation {
  padding-top: 149px;
  padding-bottom: 150px;
}

.deation-evaluation h2 {
  width: 607px;
  color: #4D533C;
  padding-bottom: 57px;
  margin: 0;
}

.deation-evaluation .list__item {
  width: 18%;
  padding: 30px;
}

.deation-evaluation .list__item h3 {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #4D533C;
  margin-top: 0;
}

.deation-evaluation .list__item p {
  height: 104px;
  margin-bottom: 0;
}

.deation-evaluation .list__item .link {
  padding-top: 30px;
}

.call-to-action {
  background: #ffffff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 165px;
  margin-right: 165px;
  z-index: 2;
  position: relative;
}

.call-to-action .call-to-action__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.call-to-action .call-to-action__title h1 {
  width: 688px;
  font-size: 60px;
  color: #4D533C;
  margin: 0;
}

.call-to-action .link {
  padding-top: 50px;
}

footer {
  background: url("../images/footer-bg.jpg");
  background-size: cover;
}

footer .container {
  margin-top: -188px;
  padding-top: 310px;
}

footer h4,
footer p,
footer li {
  font-size: 16px;
  color: #B6C197;
}

footer .border-bottom {
  border-color: #979797;
}

footer .contacts {
  padding-bottom: 52px;
}

footer .contacts .fw-bold {
  color: #ffffff;
}

footer .contacts__phone {
  padding-right: 127px;
}

footer .list {
  padding-top: 60px;
  padding-bottom: 50px;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .list h4 {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 36px;
}

footer .list ul {
  margin: 0;
  padding: 0;
}

footer .list ul li {
  list-style: none;
  padding-bottom: 26px;
}

footer .list-contacts {
  padding-top: 60px;
  margin-left: 21%;
}

footer .list-contacts h4 {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 36px;
}

footer .list-contacts p {
  width: 270px;
  margin: 0;
  padding-bottom: 26px;
}

footer .list-contacts a {
  font-size: 24px;
}

footer .list-contacts .list-contacts__icons {
  padding-top: 26px;
}

footer .list-contacts .list-contacts__icons .icon {
  width: 33px;
  height: 33px;
  background-color: #444a34;
  border-radius: 50%;
  margin-right: 11px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #5e6648;
  font-size: 18px;
  cursor: pointer;
}

footer .list-contacts .list-contacts__icons .icon:hover {
  background-color: #ffd723;
  color: #ffffff;
}

footer .footer-nav {
  padding-top: 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-nav__copyrights {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
/*# sourceMappingURL=style.css.map */